##########################################################################################################
## 				Configuration file							##
##########################################################################################################
## The following variables don't have default values and must be set					##
##########################################################################################################
## 'spImagesDirectory' -	String contains no spaces.		# No default value		##
spImagesDirectory = ./images/
## 'spImagesPrefix' -		String contains no spaces.		# No default value		##
spImagesPrefix = img
## 'spImagesSuffix' -		{ .jpg , .png , .bmp , .gif }		# No default value		##
spImagesSuffix = .png
## 'spNumOfImages' -		Positive integer.			# No default value		##
spNumOfImages = 17
##########################################################################################################
## The following variables have default values, If not set the default value is choosen			##
##########################################################################################################
## 'spPCADimension' -		Integer in the range [10 , 28].		# Default value = 20		##
#spPCADimension = 20
## 'spPCAFilename' -		String contains no spaces.		# Default value = pca.yml	##
#spPCAFilename = pca.yml
## 'spNumOfFeatures' -		Positive integer.			# Default value = 100		##
#spNumOfFeatures = 100
## 'spExtractionMode' -		{ true , false }			# Default value = true		##
spExtractionMode = false
## 'spNumOfSimilarImages' -	Positive integer.			# Default value = 1		##
spNumOfSimilarImages = 5
## 'spKDTreeSplitMethod' -	{ RANDOM , MAX_SPREAD , INCREMENTAL }	# Default value = MAX_SPREAD	##
spKDTreeSplitMethod = RANDOM
## 'spKNN' -			Positive integer.			# Default value= 1		##
spKNN = 2
## 'spMinimalGUI' -		{ true , false }			# Default value = false		##
#spMinimalGUI = true
## 'spLoggerLevel' -		{ 1 , 2 , 3 , 4 }			# Default value = 3		##
#spLoggerLevel = 3
## 'spLoggerFilename' -		String contains no spaces.		# Default value = stdout	##
#spLoggerFilename = stdout
##########################################################################################################
## 				End									##
##########################################################################################################