##################################################################################################################
## 				Configuration file								##
##################################################################################################################
## The following variables don't have default values and must be set						##
##################################################################################################################
spImagesDirectory = ./images/		# String contains no spaces.						##
spImagesPrefix = img			# String contains no spaces.						##
spImagesSuffix = .png			# { .jpg , .png , .bmp , .gif }						##
spNumOfImages = 17			# Positive integer.							##
##################################################################################################################
## The following variables have default values, If not set the default value is choosen				##
##################################################################################################################
#spPCADimension = 20			# Integer in the range [10 , 28].	# default value = 20		##
#spPCAFilename = pca.yml		# String contains no spaces.		# default value = pca.yml	##
#spNumOfFeatures = 100			# Positive integer.			# default value = 100		##
#spExtractionMode = false		# { true , false }			# default value = true		##
spNumOfSimilarImages = 5		# Positive integer.			# default value = 1		##
#spKDTreeSplitMethod = MAX_SPREAD	# { RANDOM , MAX_SPREAD , INCREMENTAL }	# default value = MAX_SPREAD	##
#spKNN = 1				# Positive integer.			# default value= 1		##
#spMinimalGUI = true			# { true , false }			# default value = false		##
#spLoggerLevel = 3			# { 1 , 2 , 3 , 4 }			# default value = 3		##
#spLoggerFilename = stdout		# String contains no spaces.		# default value = stdout	##
##################################################################################################################
## 				End										##
##################################################################################################################
