##########################################################################################
## 				     Configuration file					##
##########################################################################################
## The following variables don't have default values and must be set			##
##########################################################################################
spImagesDirectory = ./images/
spImagesPrefix = img
spImagesSuffix = .png
spNumOfImages = 17
##########################################################################################
## The following variables have default values, If not set the default value is choosen	##
##########################################################################################
#spPCADimension = 20			# default value = 20
spPCAFilename = pca.yml			# default value = pca.yml
spNumOfFeatures = 100			# default value = 100
spExtractionMode = true			# default value = true
spNumOfSimilarImages = 5		# default value = 1
#spKDTreeSplitMethod = MAX_SPREAD	# default value = MAX_SPREAD
#spKNN = 1				# default value= 1
#spMinimalGUI = true			# default value = false
#spLoggerLevel = 3			# default value = 3
spLoggerFilename = stdout		# default value = stdout
##########################################################################################
## 					    End						##
##########################################################################################
